#hero span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 300% 100%, 100% 100%;
}

#hero span:nth-child(1) {
  background-image: linear-gradient(
      100deg,
      #000 35%,
      transparent 45%,
      transparent 55%,
      #000 65%
    ),
    linear-gradient(100deg, #ffa54d, #f07bc5);
  animation: slide 10s ease-in-out 0s infinite;
}

#hero span:nth-child(2) {
  background-image: linear-gradient(
      100deg,
      #000 35%,
      transparent 45%,
      transparent 55%,
      #000 65%
    ),
    linear-gradient(100deg, #43aeff, #194bb5);
  animation: slide 10s ease-in-out 2.5s infinite;
}
#hero span:nth-child(3) {
  background-image: linear-gradient(
      100deg,
      #000 35%,
      transparent 45%,
      transparent 55%,
      #000 65%
    ),
    linear-gradient(100deg, #de035e, #c084fc);

  animation: slide 10s ease-in-out 5s infinite;
}
@keyframes slide {
  0% {
    background-position: 100% 50%, 50% 50%;
  }
  50% {
    background-position: 0% 50%, 50% 50%;
  }
  98% {
    -webkit-text-fill-color: #000;
  }
  99% {
    background-position: 100% 50%, 50% 50%;
  }
  100% {
    -webkit-text-fill-color: #000;
  }
}
